@model JiuFu.Entities.Scenic

@{
    ViewData["Title"] = "ScenicDetails";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}



<div>
    <h1>景点修改</h1>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           名称
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
           位置
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
           开放时间
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
           简介
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt class = "col-sm-2">
           图片
        </dt>
        <dd class = "col-sm-10">
          <img src="@Html.DisplayFor(model => model.picture)"/>  
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ScenicEdit" asp-route-id="@Model.Id">修改</a> |
    <a asp-action="ScenicIndex">返回</a>
</div>
